.footer {
    background-color: $blackMain;
    overflow: hidden;

    &__wrapper {
        padding-top: 56px;

        @include md {
            padding-top: 32px;
        }
        @include sm {
            padding-top: 24px;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 2fr)) minmax(0, 4fr) repeat(2, minmax(0, 2fr));
        column-gap: 32px;
        grid-auto-flow: dense;
        
        padding-bottom: 24px;

        @include lg {
            grid-template-columns: minmax(0, 3fr) minmax(0, 2.5fr) minmax(0, 2.5fr);
            column-gap: 24px;
            row-gap: 24px;
        }
        @include md {
            row-gap: 8px;
        }
        @include sm {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 24px;
            row-gap: 0;
        }
    }
    &__block {
        &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            
            margin-bottom: 8px;

            @include sm {
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                
                justify-self: center;
                margin-bottom: 24px;
            }
        }
        &:nth-child(2) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            
            margin-bottom: 32px;

            @include lg {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
            @include sm {
                grid-column: 1 / -1;
                grid-row: 2 / 3;

                display: flex;
                justify-content: space-between;
                align-items: center;
                @include column-gap(16px);
            }
        }
        &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;

            @include lg {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            @include sm {
                grid-column: 1 / -1;
                grid-row: 5 / 6;
            }
        }
        &:nth-child(4) {
            grid-column: 3 / 4;
            grid-row: 1 / 4;

            @include lg {
                grid-column: 2 / 4;
                grid-row: 1 / 3;
            }
            @include sm {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
                margin-bottom: 32px;
            }
        }
        &:nth-child(5) {
            grid-column: 4 / 5;
            grid-row: 1 / 4;

            @include lg {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
            @include sm {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                margin-bottom: 32px;
            }
        }
        &:nth-child(6) {
            grid-column: 5 / 6;
            grid-row: 1 / 4;

            @include lg {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
            }
            @include sm {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
                margin-bottom: 32px;
            }
        }
    }
    &__logo {
        img,
        svg {
            display: block;
            max-width: 100%;
            object-fit: contain;
            object-position: left center;
        }
    }
    &__description {
        @include descriptionFont();
        color: $orange20;

        margin-bottom: 16px;

        @include sm {
            @include smallFont();
            line-height: 160%;
            margin-bottom: 0;
        }
    }
    &__icon-box {
        display: flex;
        align-items: center;
        @include column-gap(16px);
    }
    &__icon {
        img,
        svg {
            display: block;
            width: 32px;
            height: 32px;
        }
    }
    &__sublist {
        @include row-gap(16px);
    }
    &__subitem {
        @include smallFont();
        color: $orange60;
        text-transform: uppercase;
        
        a {
            position: relative;

            &:after {
                content: "";

                border-bottom: 1px solid $orange60;
                width: 0; // 100%;
                height: 1px;

                position: absolute;
                bottom: -1px;
                right: 0;

                transition: all 0.4s $easeOut-1;
            }

            @include hover {
                &:hover {
                    &:after {
                        width: 100%;
                        right: initial;
                        left: 0;
                    }
                }
            }
        }
    }
    &__navlist {
        // column-count: 2;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 32px;

        @include sm {
            column-gap: 24px;
        }
    }
    &__navitem {
        @include descriptionBoldFont();
        color: $white;
        text-transform: uppercase;

        margin-bottom: 32px;

        @include sm {
            @include smallFont();
            font-weight: 700;
            margin-bottom: 16px;
        }
        
        a {
            position: relative;

            &:after {
                content: "";

                border-bottom: 1px solid $white;
                width: 0; // 100%;
                height: 1px;

                position: absolute;
                bottom: -1px;
                right: 0;

                transition: all 0.4s $easeOut-1;
            }

            @include hover {
                &:hover {
                    &:after {
                        width: 100%;
                        right: initial;
                        left: 0;
                    }
                }
            }
        }
    }
    &__subtitle {
        @include descriptionFont();
        color: $orange;
        text-transform: uppercase;

        margin-bottom: 16px;

        @include sm {
            @include smallFont();
        }
    }
    &__subheading {
        @include descriptionFont();
        color: $white;

        border-left: 1px solid $white;
        padding-left: 8px;

        margin-bottom: 8px;

        @include sm {
            @include smallFont();
        }
    }
    &__address-list {
        @include row-gap(16px);

        @include sm {
            @include row-gap(12px);
        }
    }
    &__address-item {
        @include averageFont();
        color: $orange40;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        @include sm {
            @include smallFont();
            letter-spacing: 0.01em;
        }
    }
    &__contact-list {
        @include row-gap(8px);
        margin-bottom: 16px;
        
        @include sm {
            margin-bottom: 24px;
        }
    }
    &__contact-item {
        @include averageFont();
        color: $orange40;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        transition: color 0.4s $easeOut-1;

        @include sm {
            @include smallFont();
            letter-spacing: 0.01em;
        }

        @include hover {
            &:hover {
                color: $orange80;
            }
        }
    }
    &__socials-list {
        @include row-gap(8px);

        @include sm {
            .socials-list {
                @include column-gap(16px);
                
                &__item {
                    img,
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.copyright {
    padding: 16px 0;

    @include sm {
        padding-bottom: 24px;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include column-gap(16px);
    }
    &__description {
        @include smallFont();
        color: $grey40;
        text-transform: uppercase;

        @include sm {
            font-size: 10px;
        }
    }
    &__link {
        @include smallFont();
        color: $grey40;
        text-transform: uppercase;
        text-decoration: underline;
        
        @include sm {
            font-size: 10px;
        }
    }
    &__increate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include column-gap(8px);
        
        @include sm {
            @include column-gap(4px);
        }

        span {
            @include smallFont();
            color: $grey40;

            @include sm {
                font-size: 10px;
            }
        }
        img {
            display: block;
            max-width: 100%;
            object-fit: contain;
            object-position: left center;
        }
    }
}