.head {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include sm {
        height: auto;
    }
    //
    &__bg-slider {
        width: 100%;
        height: 100%;
        
        position: absolute;
        top: 0;
        left: 0;

        &:after {
            content: "";
            background: linear-gradient(93.94deg, rgba(0, 0, 0, 0.6) 3.82%, rgba(0, 0, 0, 0) 99.02%);
            
            width: 100%;
            height: 100%;
            
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
    //
    &__wrapper {
        height: 100%;
        position: relative;

        display: grid;
        grid-template-columns: minmax(0, 2fr) minmax(0, 5fr) minmax(0, 1fr) minmax(0, 4fr);
        grid-template-rows: repeat(3, 1fr); // repeat(3, minmax(0, 1fr));
        row-gap: 16px;

        @include lg {
            padding-top: calc(#{$mobHeaderHeight} + 32px);
            padding-bottom: 64px;

            grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 4fr);
            grid-template-rows: 1fr auto 1fr auto;
            gap: 24px;
        }
        @include md {
            padding-top: calc(#{$mobHeaderHeight});
        }
        @include sm {
            padding-top: calc(#{$mobHeaderHeight} + 32px);
            padding-bottom: 32px;

            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto 1fr;
            column-gap: 0;
            row-gap: 16px;
        }
    }
    &__logo {
        // align-self: center;
        // position: relative;
        z-index: 1;

        @include sm {
            margin-bottom: 8px;
        }
        
        img,
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }

        &_cube {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            @include lg {
                @include mdm {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
            }
            @include sm {
                grid-row: auto;
            }

            img,
            svg {
                @include sm {
                    max-width: 100px;
                }
                @include xs {
                    max-width: 90px;
                }
                @include xxs {
                    max-width: 80px;
                }
            }
        }
        &_title {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            margin-left: 32px;

            @include lg {
                grid-column: 2 / -1;
                grid-row: 1 / 2;
            }
            @include md {
                grid-column: 2 / -1;
                grid-row: 2 / 3;

                margin-left: 24px;
            }
            @include sm {
                grid-row: auto;

                margin-left: 8px;
            }
        }
    }
    &__title-slider {
        grid-column: 4 / 5;
        grid-row: 2 / 3;

        z-index: 1;
        height: 100%;
        overflow: hidden;
        // align-self: center;

        @include lg {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        @include md {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
        @include sm {
            grid-column: 1 / -1;
            grid-row: auto;
        }
    }
    &__description-slider {
        grid-column: 4 / 5;
        grid-row: 3 / 4;

        z-index: 1;
        height: 100%;
        overflow: hidden;
        // align-self: end;
        // margin-bottom: 56px;

        @include lg {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        @include md {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
        @include sm {
            grid-column: 1 / -1;
            grid-row: auto;

            margin-bottom: 64px;
        }
    }
    &__pagination {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        align-self: center;
        // margin-bottom: 56px;

        @include lg {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        @include md {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        @include sm {
            grid-column: 1 / -1;
            grid-row: auto;
            // align-self: end;
        }
    }
    &__widget {
        @include smm {
            display: none;
        }

        grid-column: 1 / -1;
        position: relative;
        z-index: 1;
    }
    // &__tel {
    //     @include smm {
    //         display: none;
    //     }

    //     @include paddingSide();
    //     margin-bottom: 32px;

    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     z-index: 2;

    //     .button {
    //         min-width: 72px;
    //         width: 72px;
    //         height: 48px;

    //         &__icon {
    //             img,
    //             svg {
    //                 width: 24px;
    //                 height: 24px;
    //             }
    //         }
    //     }
    // }
    //
}

.head-bg-slider,
.head-title-slider,
.head-description-slider {
    height: 100%;
}

.head-title-slider,
.head-description-slider {
    @include sm {
        height: auto;
    }
}

// .head-title-slider,
// .head-description-slider,
.head-bg-slider {
    // set equal height to all the slides
    .swiper-slide {
        height: auto;

        & > * {
            height: 100%;
        }
    }
}
.head-title-slider,
.head-description-slider {
    .swiper-slide {
        display: flex;
        align-items: center;

        // add scale-animated transition to the slides
        transition: opacity 0.5s $easeOut-1;

        @include sm {
            transition: opacity 1s $easeOut-1;
        }
        
        // works in looped slider
        &:not(.swiper-slide-active) {
            opacity: 0;
        }
    }
}

.head-title-slide {
    display: flex;
    align-items: center;

    &__title {
        @include h4TitleAltFont();
        color: $white;
        text-transform: uppercase;

        @include sm {
            @include mediumBoldAltFont();
        }
    }
}
.head-description-slide {
    display: flex;
    align-items: flex-end;

    &__description {
        @include averageFont();
        color: $light;

        @include sm {
            @include descriptionFont();
        }
    }
}

//
.slider-pagination {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include row-gap(16px);

    @include sm {
        flex-direction: row;
        justify-content: center;
        @include column-gap(16px);
    }

    // svg line animation
    &__bullet {
        cursor: pointer;
        display: block;
        position: relative;
        
        border: 1px solid $oliveDark;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        transition: all 0.25s $easeInOut;

        &.slider-bullet-active {
            border: 1px solid transparent;
            background-color: $olive80;
        }
    }
}
//

.sub-head {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include sm {
        height: auto;
    }
    
    &__bg {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        // tint
        &:before {
            content: "";
            background: linear-gradient(94.59deg, rgba(0, 0, 0, 0.7) 38.36%, rgba(0, 0, 0, 0) 130.47%);
            // background: linear-gradient(96.68deg, rgba(0, 0, 0, 0.7) 5.96%, rgba(18, 18, 18, 0.35) 169.67%);

            width: 100%;
            height: 100%;
            z-index: 1;

            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__wrapper {
        height: 100%;
        padding-top: calc(#{$headerHeight} + 24px);
        padding-bottom: 80px;
        position: relative;
        z-index: 1;

        display: grid;
        grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 5fr);
        grid-template-rows: 1fr auto 1fr;
        column-gap: 32px;
        row-gap: 32px;

        @include lg {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include md {
            padding-top: calc(#{$mobHeaderHeight} + 32px);
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: 1fr auto auto 1fr;
        }
        @include sm {
            padding-top: calc(#{$mobHeaderHeight} + 8px);
            padding-bottom: 88px;

            display: flex;
            flex-direction: column;
            gap: 0;
        }
    }
    &__breadcrumbs {
        grid-column: 1 / -1;
        // grid-row: 1 / 2;

        @include sm {
            margin-bottom: 32px;
        }
    }
    &__title {
        grid-column: 1 / 2;
        // grid-row: 2 / 3;

        @include h1TitleFont();
        line-height: 110%;
        color: $white;
        text-transform: uppercase;

        @include lg {
            font-size: 64px;
            line-height: 110%;
        }
        @include sm {
            @include h3TitleFont();
            line-height: 110%;
            margin-bottom: 16px;
        }

        & + .sub-head__feat-box {
            @include md {
                margin-top: 128px;
            }
        }
    }
    &__description {
        grid-column: 3 / 4;
        // grid-row: 2 / 3;

        @include averageFont();
        color: $light;

        display: flex;
        align-items: center;

        @include lg {
            grid-column: 2 / 3;
        }
        @include md {
            grid-column: 1 / 2;
        }
        @include sm {
            @include descriptionFont();
            margin-bottom: 64px; // 24px;
        }
    }
    &__time-box {
        grid-column: 3 / 4;
        
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg {
            grid-column: 2 / 3;
        }
        @include md {
            grid-column: 1 / 2;
        }
    }
    &__feat-box {
        grid-column: 1 / -1;
        // grid-row: 3 / 4;

        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 3fr);

        @include md {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 12px;
            margin-top: auto;
        }
    }
    &__feat-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; // center;
        align-items: center;
        @include row-gap(16px);

        @include sm {
            @include row-gap(12px);
        }

        &:nth-child(1) {
            grid-column: 1 / 2;

            @include md {
                grid-column: 1 / 3;
            }
        }
        &:nth-child(2) {
            grid-column: 3 / 4;
            
            @include md {
                grid-column: 3 / 5;
            }
        }
        &:nth-child(3) {
            grid-column: 5 / 6;
            
            @include md {
                grid-column: 2 / 4;
            }
        }
    }
    &__feat-name {
        @include mediumAltFont();
        color: $white;
        text-transform: uppercase;
        text-align: center;

        @include sm {
            @include smallFont();
        }
    }
    &__feat-icon {
        img,
        svg {
            display: block;
            width: 32px;
            height: 16px;

            @include sm {
                width: 16px;
                height: 8px;
            }
        }
    }
    //
    &--doc {
        height: auto;
        min-height: 100vh;
        display: flex;

        @include sm {
            min-height: 0;
        }

        .sub-head__wrapper {
            @include smm {
                margin-top: auto; // > in order to center wrapper's content inside display:flex container
                margin-bottom: auto;
            }

            grid-template-rows: auto;
            
            @include lg {
                grid-template-columns: minmax(0, 1fr);
            }
        }
        .sub-head__title-box {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            align-self: end;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @include sm {
                margin-bottom: 16px;
            }
        }
        .sub-head__title {
            @include h2TitleFont();
            line-height: 110%;

            margin-bottom: 24px;

            @include lg {
                font-size: 64px;

            }
            @include md {
                font-size: 48px;
            }
            @include sm {
                font-size: 40px;
                
                margin-bottom: 16px;
            }
        }
        .sub-head__feat {
            display: flex;
            align-items: center;

            margin-bottom: 32px;

            @include sm {
                margin-bottom: 16px;
            }
        }
        .sub-head__feat-icon {
            margin-right: 24px;

            @include md {
                margin-right: 12px;
            }

            img,
            svg {
                width: 32px;
                height: 16px;
            }
        }
        .sub-head__feat-num {
            @include h5TitleAltFont();
            color: $white;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            margin-right: 8px;
        }
        .sub-head__feat-name {
            @include descriptionFont();
            color: $orange20;
            text-transform: uppercase;
        }
        .sub-head__block {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
            align-self: center;

            @include lg {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }
        .sub-head__video {
            margin-bottom: 24px;
        }
        .sub-head__description {
            .description {
                border-color: $orange40;
            }

            @include sm {
                margin-bottom: 40px;
            }
        }
        .sub-head__button {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            align-self: start;

            @include lg {
                grid-row: 4 / 5;
            }
            @include sm {
                width: 100%;
            }
        }
    }
    &--review {
        .sub-head__title-box {
            grid-column: 1 / 2;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .sub-head__title {
            @include h1TitleFont();
            line-height: 110%;

            margin-bottom: 24px;

            @include sm {
                @include h3TitleFont();
                line-height: 110%;
                
                margin-bottom: 16px;
            }
        }
        .sub-head__line {
            width: 70%;

            display: flex;
            align-items: center;
            @include column-gap(16px);

            @include sm {
                width: 100%;
                margin-bottom: 40px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include row-gap(16px);
            }
        }
        .sub-head__caption {
            @include descriptionFont();
            color: $white;
        }
        .sub-head__rating {
            .rating {
                &__sum {
                    color: $white;
                }
            }
        }
        .sub-head__description {
            @include sm {
                margin-bottom: 32px;
            }
        }
    }
    &--article {
        .sub-head__title {
            font-size: 64px;

            @include lg {
                font-size: 48px;
            }
            @include md {
                font-size: 40px;
            }
            @include sm {
                font-size: 24px;
            }
        }
    }
    &--info {
        height: auto;
        
        .sub-head__bg {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            @include md {
                display: block;
            }
        }
        .sub-head__wrapper {
            padding-top: calc(#{$headerHeight} + 32px);
            padding-bottom: 120px;
            
            grid-template-rows: auto;

            @include sm {
                padding-bottom: 88px;
            }
        }
        .sub-head__title {
            font-size: 64px;
            align-self: center;

            @include md {
                font-size: 40px;
            }
            @include sm {
                font-size: 32px;
                align-self: start;
            }
        }
    }
}
.head-404 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include sm {
        height: auto;
    }
    
    &__bg {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        // tint
        &:before {
            content: "";
            background: linear-gradient(94.59deg, rgba(0, 0, 0, 0.7) 38.36%, rgba(0, 0, 0, 0) 130.47%);
            // background: linear-gradient(96.68deg, rgba(0, 0, 0, 0.7) 5.96%, rgba(18, 18, 18, 0.35) 169.67%);

            width: 100%;
            height: 100%;
            z-index: 1;

            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__wrapper {
        height: 100%;
        padding-top: calc(#{$headerHeight} + 24px);
        padding-bottom: 80px;
        position: relative;
        z-index: 1;

        display: grid;
        grid-template-columns: minmax(0, 7fr) minmax(0, 5fr);
        column-gap: 32px;
        row-gap: 32px;

        @include md {
            padding-top: calc(#{$mobHeaderHeight} + 32px);
            padding-bottom: 88px;

            display: flex;
            flex-direction: column;
            gap: 0;

            @include smm {
                justify-content: center;
            }
        }
    }
    &__title {
        grid-column: 1 / 2;
        align-self: center;

        @include h1TitleFont();
        font-size: 200px;
        color: $white;
        text-transform: uppercase;

        @include md {
            text-align: center;
            margin-bottom: 40px;
        }
        @include sm {
            font-size: 120px;
            margin-bottom: 32px;
        }
    }
    &__block {
        grid-column: 2 / 3;
        align-self: center;
    }
    &__description {
        @include h5TitleAltFont();
        font-weight: 400;
        color: $light;

        margin-bottom: 56px;

        .description {
            border-color: $grey100;
        }

        @include md {
            text-align: center;
            margin-bottom: 56px;
        }
        @include sm {
            @include averageFont();
            margin-bottom: 40px;
        }
    }
    &__button {
        @include md {
            text-align: center;
        }
    }
}

// time-box
.time-box {
    display: flex;
    align-items: center;
    @include column-gap(24px);

    &__title {
        @include mediumAltFont();
        color: $white;
        text-transform: uppercase;

        @include sm {
            @include smallFont();
        }
    }
    &__clock {
        position: relative;
    }
    &__time {
        @include h4TitleAltFont();
        color: $white;
        font-weight: 400;
        
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 0;
        left: 0;

        @include sm {
            @include descriptionFont();
        }
    }
    &__circle {
        svg {
            display: block;
        }
    }
}
.circle {
    width: 120px;
    height: 120px;
    
    @include sm {
        transform: scale(0.5);
    }

    &__fill {
        stroke-dasharray: 372; // 372 = 31 * 12 // (365px) = 2 * PI * radius (= 58) = circle's length
        stroke-dashoffset: 372;

        transform: rotate(-90deg) translate(-120px, 0);
    }
}

// widget for adaptive
.widget-btn {
    background-color: $white;
    width: 100%;
    @include paddingSide();
    padding-top: 16px;
    padding-bottom: 16px;

    position: fixed;
    bottom: 0;
    z-index: 14;
    
    transition: transform 0.4s $easeOut-1;//--show-body

    &.widget-btn-hide {
        transform: translateY(100%);
    }

    @include smm {
        display: none;
    }
}
.widget {
    background-color: $overlayTransparent; // rgba(0, 0, 0, 0.7);

    width: 100%;
    height: 100%;

    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;

    overflow-y: auto;
    overflow-x: hidden;

    // opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 1s $easeOut;//--show-body
    
    &.widget-active {
        // opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
        visibility: visible;
        pointer-events: all;

        // .widget__wrapper {
        //     opacity: 1;
        //     transform: scale(1);
        // }
        .widget__content {
            transform: translate(0, 0);
        }
    }

    &__wrapper {
        background-color: transparent;
        min-height: 100%;

        display: flex;
        align-items: flex-end;

        // opacity: 0;
        // transform: translate(0, 100%);
        // transition: all 1s $easeOut;//--show-body
    }
    &__content {
        background-color: $white;

        width: 100%;
        padding: 8px 12px 16px;
        position: relative;

        transform: translate(0, 100%);
        transition: all 1s $easeOut;//--show-body
    }
    &__main {
        @include row-gap(32px);
    }
    &__contact-box {
        @include row-gap(16px);
    }
    &__descr {
        @include smallFont();
        color: $blackMain;
    }
    &__button-box {
        @include row-gap(16px);
    }
    //
    &__cross-box {
        padding: 8px 8px 24px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cross {
        cursor: pointer;

        img,
        svg {
            display: block;
            width: 40px;
            height: 4px;
        }
    }
}
.w-contact {
    border-bottom: 1px solid $grey20;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    @include column-gap(8px);

    &__icon {
        img,
        svg {
            display: block;
            width: 20px;
            height: 20px;
        }
    }
    &__info {
        @include row-gap(4px);
    }
    &__title {
        @include smallFont();
        color: $grey60;
    }
    &__value {
        @include descriptionBoldFont();
        color: $orange;
        letter-spacing: 0.02em;
        text-decoration: underline;
    }
}